<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <%= link_to "Copain d'après", root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'A propos', home_about_path, class:"navbar-link"%>
          
          <% if user_signed_in? %>
          <%= link_to 'Éditer le profil', edit_user_registration_path, class:"navbar-link"%>
          <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class:"navbar-link"%>
          <%= link_to 'Publier un post', new_post_path, class:"navbar-link"%>
          <% else %>
          <%= link_to 'Créer un compte', new_user_registration_path, class:"navbar-link"%>
          <%= link_to 'Se connecter', new_user_session_path, class:"navbar-link"%>
          <% end %>

        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>